[aria-hidden="true"] {
    display: none !important;
}

/*
Layout: ARIA visibility Hooks

* these are controlled by JavaScript
* noscript fallbacks use CSS
* use with a `span` element to apply `display:inline` rather than `display:block` when an element is visible

Markup:
<div class="content">
    <ol>
        <li>
            Hidden when JavaScript is enabled:
            <div data-ariaHiddenBreakrange="js">Not hidden</div>
        </li>
        <li>
            Hidden within the mobile breakrange:
            <div data-ariaHiddenBreakrange="mobile">Not hidden</div>
        </li>
        <li>
            Hidden within the mobile + tablet breakrange:
            <div data-ariaHiddenBreakrange="mobile,tablet">Not hidden</div>
        </li>
        <li>
            Hidden within the tablet breakrange:
            <div data-ariaHiddenBreakrange="tablet">Not hidden</div>
        </li>
        <li>
            Hidden within the mobile + tablet + desktop breakrange:
            <div data-ariaHiddenBreakrange="mobile,tablet,desktop">Not hidden</div>
        </li>
        <li>
            Hidden within the tablet + desktop breakrange:
            <div data-ariaHiddenBreakrange="tablet,desktop">Not hidden</div>
        </li>
        <li>
            Hidden within the desktop breakrange:
            <div data-ariaHiddenBreakrange="desktop">Not hidden</div>
        </li>
        <li>
            Hidden within the wide desktop breakrange:
            <div data-ariaHiddenBreakrange="desktop-wide">Not hidden</div>
        </li>
        <li>
            Hidden within the tablet + desktop + desktop-wide breakrange:
            <div data-ariaHiddenBreakrange="tablet,desktop,desktop-wide">Not hidden</div>
        </li>
        <li>
            Hidden within the desktop + wide desktop breakrange:
            <div data-ariaHiddenBreakrange="desktop,desktop-wide">Not hidden</div>
        </li>
    </ol>
</div>

Styleguide 8.1
*/

// noscript fallbacks
// note the mobile-first approach
// ! overrides grid styling

// mobile

[data-ariaHiddenBreakrange="mobile"],
span[data-ariaHiddenBreakrange="mobile"] {
    // hide at
    .no-js & {
        display: none !important;
    }

    // show at
    @include at-breakpoint( $bp-tablet 12 ) {
        .no-js & {
            display: block !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: block !important;
        }
}
span[data-ariaHiddenBreakrange="mobile"] {
    // show at
    @include at-breakpoint( $bp-tablet 12 ) {
        .no-js & {
            display: inline !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: inline !important;
        }
}

// mobile,tablet

[data-ariaHiddenBreakrange="mobile,tablet"],
span[data-ariaHiddenBreakrange="mobile,tablet"] {
    // hide at
    .no-js & {
        display: none !important;
    }

    // show at
    @include at-breakpoint( $bp-desktop 12 ) {
        .no-js & {
            display: block !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: block !important;
        }
}
span[data-ariaHiddenBreakrange="mobile,tablet"] {
    // show at
    @include at-breakpoint( $bp-desktop 12 ) {
        .no-js & {
            display: inline !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: inline !important;
        }
}

// tablet

[data-ariaHiddenBreakrange="tablet"],
span[data-ariaHiddenBreakrange="tablet"] {
    // hide at
    @include at-breakpoint( $bp-tablet 12 ) {
        .no-js & {
            display: none !important;
        }
    }

    // show at
    @include at-breakpoint( $bp-desktop 12 ) {
        .no-js & {
            display: block !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: block !important;
        }
}
span[data-ariaHiddenBreakrange="tablet"] {
    // show at
    @include at-breakpoint( $bp-desktop 12 ) {
        .no-js & {
            display: inline !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: inline !important;
        }
}

// mobile,tablet,desktop

[data-ariaHiddenBreakrange="mobile,tablet,desktop"],
span[data-ariaHiddenBreakrange="mobile,tablet,desktop"] {
    // hide at
    .no-js & {
        display: none !important;
    }

    // show at
    @include at-breakpoint( $bp-desktop-wide 12 ) {
        .no-js & {
            display: block !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: block !important;
        }
}
span[data-ariaHiddenBreakrange="mobile,tablet,desktop"] {
    // show at
    @include at-breakpoint( $bp-desktop-wide 12 ) {
        .no-js & {
            display: inline !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: inline !important;
        }
}

// tablet,desktop

[data-ariaHiddenBreakrange="tablet,desktop"],
span[data-ariaHiddenBreakrange="tablet,desktop"] {
    // hide at
    @include at-breakpoint( $bp-tablet 12 ) {
        .no-js & {
            display: none !important;
        }
    }

    // show at
    @include at-breakpoint( $bp-desktop-wide 12 ) {
        .no-js & {
            display: block !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: block !important;
        }
}
span[data-ariaHiddenBreakrange="tablet,desktop"] {
    // show at
    @include at-breakpoint( $bp-desktop-wide 12 ) {
        .no-js & {
            display: inline !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: inline !important;
        }
}

// desktop

[data-ariaHiddenBreakrange="desktop"],
span[data-ariaHiddenBreakrange="desktop"] {
    // hide at
    @include at-breakpoint( $bp-desktop 12 ) {
        .no-js & {
            display: none !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: none !important;
        }

    // show at
    @include at-breakpoint( $bp-desktop-wide 12 ) {
        .no-js & {
            display: block !important;
        }
    }
}
span[data-ariaHiddenBreakrange="desktop"] {
    // show at
    @include at-breakpoint( $bp-desktop-wide 12 ) {
        .no-js & {
            display: inline !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: inline !important;
        }
}

// tablet,desktop,desktop-wide

[data-ariaHiddenBreakrange="tablet,desktop,desktop-wide"],
span[data-ariaHiddenBreakrange="tablet,desktop,desktop-wide"] {
    // hide at
    @include at-breakpoint( $bp-tablet 12 ) {
        .no-js & {
            display: none !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: none !important;
        }
}

// desktop,desktop-wide

[data-ariaHiddenBreakrange="desktop,desktop-wide"],
span[data-ariaHiddenBreakrange="desktop,desktop-wide"] {
    // hide at
    @include at-breakpoint( $bp-desktop 12 ) {
        .no-js & {
            display: none !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: none !important;
        }
}

// desktop-wide

[data-ariaHiddenBreakrange="desktop-wide"],
span[data-ariaHiddenBreakrange="desktop-wide"] {
    // hide at
    @include at-breakpoint( $bp-desktop-wide 12 ) {
        .no-js & {
            display: none !important;
        }
    }
    // IE8 fallback
        .lt-ie9.no-js & {
            display: none !important;
        }
}
